<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css'>
    <style>
        .active { fill: blue !important;}
        /*.datamaps-key dt, .datamaps-key dd {float: none !important;}
        .datamaps-key {right: -50px; top: 0;}*/
        /* pure-hidden-sm */
        /* pure-hidden-md */
        @media screen and (min-width:768px) and (max-width:1023px) {
            .pure-visible-xs{display:none}
            .pure-visible-sm{display:none}
            .pure-visible-lg{display:none}
            .pure-visible-xl{display:none}
            .pure-hidden-md{display:none}
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
</head>
<body>

        <!-- style="border:1px dotted blue; width: 700px; height: 475px; position: relative; float: left;" -->

<div id="app">
    <div class="pure-g">
        <div class=" pure-u-lg-1 pure-hidden-md pure-u-lg-1-3 pure-u-xl-2-5">
            <div id="map" style="border:1px dotted blue; height: 475px;"></div>
        </div>
        <div class="pure-u-1 pure-u-lg-1-3 pure-u-xl-1-5" style="min-width: 350px;">
            <table class="pure-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Country</th>
                            <th>國家</th>
                            <th>ETF</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr v-for="item in items">
                            <td><span :class="`flag-icon flag-icon-${item.iso}`" aria-label="Flag"></span></td>
                            <td>{{item.country}}</td>
                            <td><a target="_blank" :href="'https://www.google.com/maps/place/'+item.name">{{item.name}}</a></td>
                            <td><a target="_blank" :href="'https://www.moneydj.com/ETF/X/Basic/Basic0007.xdjhtm?etfid='+item.etf">{{item.etf}}</a></td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="pure-u-1 pure-u-lg-1-3 pure-u-xl-1-5" style="min-width: 350px;">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th>國家</th>
                        <th>ETF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items2">
                        <td><span :class="`flag-icon flag-icon-${item.iso}`" aria-label="Flag"></span></td>
                        <td>{{item.country}}</td>
                        <td><a target="_blank" :href="'https://www.google.com/maps/place/'+item.name">{{item.name}}</a></td>
                        <td><a target="_blank" :href="'https://www.moneydj.com/ETF/X/Basic/Basic0007.xdjhtm?etfid='+item.etf">{{item.etf}}</a></td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>


</div>
 
<script src="js/components/d3/d3.min.js"></script>
<script src="js/components/topojson/topojson.js"></script>
<script src="datamaps.world.js"></script>

<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script>
    new Vue({
    el: '#app',
        data: {
            items: [
                { iso: 'ar', country: 'Argentina', name:'阿根廷', etf: 'ARGT' },
                { iso: 'au', country: 'Australia', name:'澳大利亞', etf: 'EWA' },
                { iso: 'at', country: 'Austria', name:'奧地利', etf: 'EWO' },
                { iso: 'be', country: 'Belgium', name:'比利時', etf: 'EWK' },
                { iso: 'br', country: 'Brazil', name:'巴西', etf: 'EWZ' },
                { iso: 'ca', country: 'Canada', name:'加拿大', etf: 'EWC' },
                { iso: 'cl', country: 'Chile', name:'智利', etf: 'ECH' },
                { iso: 'cn', country: 'China', name:'中國', etf: 'MCHI' },
                { iso: 'co', country: 'Colombia', name:'哥倫比亞', etf: 'ICOL' },
                { iso: 'dk', country: 'Denmark', name:'丹麥', etf: 'EDEN' },
                { iso: 'eg', country: 'Egypt', name:'埃及', etf: 'EGPT' },
                { iso: 'fi', country: 'Finland', name:'芬蘭', etf: 'EFNL' },
                { iso: 'fr', country: 'France', name:'法國', etf: 'EWQ' },
                { iso: 'de', country: 'Germany', name:'德國', etf: 'EWG' },
                { iso: 'gr', country: 'Greece', name:'希臘', etf: 'GREK' },
                { iso: 'hk', country: 'Hong Kong', name:'香港', etf: 'EWH' },
                { iso: 'in', country: 'India', name:'印度', etf: 'INDA' },
                { iso: 'id', country: 'Indonesia', name:'印尼', etf: 'EIDO' },
                { iso: 'ie', country: 'Ireland', name:'愛爾蘭', etf: 'EIRL' },
                { iso: 'il', country: 'Israel', name:'以色列', etf: 'EIS' },
                { iso: 'it', country: 'Italy', name:'意大利', etf: 'EWI' },
                { iso: 'jp', country: 'Japan', name:'日本', etf: 'EWJ' },
                { iso: 'kr', country: 'Korea', name:'韓國', etf: 'EWY' },
                { iso: 'my', country: 'Malaysia', name:'馬來西亞', etf: 'EWM' },
                { iso: 'mx', country: 'Mexico', name:'墨西哥', etf: 'EWW' },
            ],
            items2: [
                { iso: 'nl', country: 'Netherlands', name:'荷蘭', etf: 'EWN' },
                { iso: 'nz', country: 'New Zealand', name:'紐西蘭', etf: 'ENZL' },
                { iso: 'ng', country: 'Nigeria', name:'奈及利亞', etf: 'NGE' },
                { iso: 'no', country: 'Norway', name:'挪威', etf: 'ENOR' },
                { iso: 'pk', country: 'Pakistan', name:'巴基斯坦', etf: 'PAK' },
                { iso: 'pe', country: 'Peru', name:'秘魯', etf: 'EPU' },
                { iso: 'ph', country: 'Philippines', name:'菲律賓', etf: 'EPHE' },
                { iso: 'pl', country: 'Poland', name:'波蘭', etf: 'EPOL' },
                { iso: 'pt', country: 'Portugal', name:'葡萄牙', etf: 'PGAL' },
                { iso: 'qa', country: 'Qatar', name:'卡達', etf: 'QAT' },
                { iso: 'ru', country: 'Russia', name:'俄羅斯', etf: 'ERUS' },
                { iso: 'sa', country: 'Saudi Arabia', name:'沙烏地阿拉伯', etf: 'KSA' },
                { iso: 'sg', country: 'Singapore', name:'新加坡', etf: 'EWS' },
                { iso: 'za', country: 'South Africa', name:'南非', etf: 'EZA' },
                { iso: 'es', country: 'Spain', name:'西班牙', etf: 'EWP' },
                { iso: 'se', country: 'Sweden', name:'瑞典', etf: 'EWD' },
                { iso: 'ch', country: 'Switzerland', name:'瑞士', etf: 'EWL' },
                { iso: 'tw', country: 'Taiwan', name:'台灣', etf: 'TWN' },
                { iso: 'th', country: 'Thailand', name:'泰國', etf: 'THD' },
                { iso: 'tr', country: 'Turkey', name:'土耳其', etf: 'TUR' },
                { iso: 'ae', country: 'United Arab Emirates', name:'阿聯', etf: 'UAE' },
                { iso: 'gb', country: 'United Kingdom', name:'英國', etf: 'EWU' },
                { iso: 'us', country: 'United States', name:'美國', etf: 'VOO' },
                { iso: 'vn', country: 'Viet Nam', name:'越南', etf: 'VNM' },
                
            ]
        }
    })
    // example data from server
    var series = [ ["ARG",1, "阿根廷",26],["AUS",53,"澳大利亞",14],["AUT",3,"奧地利",27],["BEL",4,"比利時",24],
        ["BRA",70,"巴西",9],["CAN",70,"加拿大",10],["CHL",7,"智利",42],["CHN",95,"中國",2],["COL",9,"哥倫比亞",39],
        ["DNK",10,"丹麥",36],["EGY",11,"埃及",45],["FIN",12,"芬蘭",44],["FRA",80,"法國",6],["DEU",90,"德國",4],
        ["GRC",15,"希臘",52],["HKG",16,"香港",35],["IND",77,"印度",7],["IDN",48,"印尼",16],["IRL",19,"愛爾蘭",33],
        ["ISR",18,"以色列",34],["ITA",75,"義大利",8],["JPN",92,"日本",3],["KOR",65,"韓國",11],
        ["MYS",23,"馬來西亞",37],["MEX",49,"墨西哥",15],["NLD",47,"荷蘭",17],["NZL",26,"紐西蘭",53],
        ["NGA",27,"奈及利亞",31],["NOR",28,"挪威",28],["PAK",29,"巴基斯坦",41],["PER",30,"秘魯",51],
        ["PHL",31,"菲律賓",40],["POL",32,"波蘭",23],["PRT",33,"葡萄牙",49],["QAT",34,"卡達",55],
        ["RUS",60," 俄羅斯",12],["SAU",46,"沙烏地阿拉伯",18],["SGP",37,"新加坡",38],["ZAF",38,"南非",32],
        ["ESP",55,"西班牙",13],["SWE",43,"瑞典",22],["RWA",88,"盧安達",143],["SRB",21,"塞爾維亞",86],
        ["TLS",43,"東帝汶",163],["CHE",45,"瑞士",20],["TWN",44,"台灣",21],["THA",46,"泰國",25],["TUR",45,"土耳其",19],
        ["ARE",48,"阿聯",29],["GBR",85,"英國",5],["USA",99,"美國",1],["VNM",54,"越南",47]];


    // Datamaps expect data in format:
    // { "USA": { "fillColor": "#42a844", numberOfWhatever: 75},
    //   "FRA": { "fillColor": "#8dc386", numberOfWhatever: 43 } }
    var dataset = {};

    // We need to colorize every country based on "numberOfWhatever"
    // colors should be uniq for every value.
    // For this purpose we create palette(using min/max series-value)
    var onlyValues = series.map(function(obj){ return obj[1]; });
    var minValue = Math.min.apply(null, onlyValues),
            maxValue = Math.max.apply(null, onlyValues);

    // create color palette function
    // color can be whatever you wish
    var paletteScale = d3.scale.linear()
            .domain([minValue,maxValue])
            .range(["#EFEFFF","#02386F"]); // blue color

    // fill dataset in appropriate format
    series.forEach(function(item){ //
        // item example value ["USA", 70]
        var iso = item[0],
            value = item[1],
            name = item[2],
            gdp = item[3];
        dataset[iso] = { iso: iso, name: name, fillColor: paletteScale(value), gdp:gdp };
    });

    // render map
    new Datamap({
        element: document.getElementById('map'),
        projection: 'mercator', // big world map
        // countries don't listed in dataset will be painted with this color
        fills: { defaultFill: '#F5F5F5' },
        data: dataset,
        geographyConfig: {
            borderColor: '#DEDEDE',
            highlightBorderWidth: 2,
            // don't change color on mouse hover
            highlightFillColor: function(geo) {
                return geo['fillColor'] || '#F5F5F5';
            },
            // only change border
            highlightBorderColor: '#B7B7B7',
            // show desired information in tooltip
            popupTemplate: function(geo, data) {
                // don't show tooltip if country don't present in dataset
                console.info(geo.properties, data)
                if (!data) { return ; }
                // tooltip content
                return ['<div class="hoverinfo">',
                    '<strong>', geo.properties.name, '</strong>',
                    '(', data.iso, ')',
                    '<br><strong>', data.name, '</strong>',
                    ' GDP:', data.gdp,
                    '</div>'].join('');
            }
        }
    });
</script>

</body>
</html>